@use '/src/styles/utils/variables' as *;

.btn {
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  border-radius: $border-radius-sm;
  transition: $transition-duration;

  &.m--md {
    padding: 7px 20px;
    font-size: 18px;
  }

  &.m--default {
    color: $color-text;
    background: white;
    border: 1px solid $color-border;

    &:hover {
      background: #f5f5f5;
    }
  }

  &.m--primary {
    color: white;
    background: $color-brand;

    &:hover {
      background: $color-brand-dark;
    }
  }
}
