@use '/src/styles/utils/mixins' as *;
@use '/src/styles/utils/variables' as *;

.exercise-control {
  display: block;
  transition: transform $transition-duration;

  @include screen-md {
    font-size: 30px;
  }

  &:hover {
    transform: scale(1.1);
  }

  .fa {
    pointer-events: none;
  }
}
