@use '/src/styles/utils/variables' as *;

.form {
  &-control {
    display: block;
    width: 100%;
    padding: 0.5em;
    border: 1px solid $color-border;
    border-radius: $border-radius-sm;
    outline: none;

    &:focus {
      border-color: $color-text-light;
    }

    &.m--textarea {
      min-height: 200px;
    }

    &.ng-invalid.ng-touched {
      border-color: $color-danger;
    }
  }

  &-error {
    font-size: 14px;
    color: $color-danger;
  }

  &-group {
    margin-bottom: $gap;
  }
}
