@use '/src/styles/utils/variables' as *;

.container {
  width: 100%;
  max-width: 1200px;
  padding-right: $gap;
  padding-left: $gap;
  margin-right: auto;
  margin-left: auto;
}

.page-container {
  padding-top: $gap-md;
  padding-bottom: $gap-md;
  margin-top: $navbar-height;
}

.page-header {
  margin-bottom: $gap-lg;
}
