@use '/src/styles/utils/variables' as *;

.footer {
  margin-top: $gap;
  text-align: right;

  button {
    margin-left: $gap-sm;
  }
}

.modal {
  position: fixed;
  top: 45%;
  left: 50%;
  z-index: 40;
  width: 600px;
  max-width: 90%;
  padding: $gap;
  background: white;
  border-radius: $border-radius;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: $transition-duration;
  transform: translate(-50%, -50%);

  &.m--visible {
    top: 50%;
    opacity: 1;
  }
}
