<ng-container *ngIf="isRendered">
  <app-backdrop (click)="onClose()"></app-backdrop>
  <div class="modal" [class.m--visible]="isVisible">
    <div>
      <ng-content select="[modal-body]"></ng-content>
    </div>
    <footer class="footer">
      <ng-content select="[modal-actions]"></ng-content>
      <button class="btn m--primary" type="button" (click)="onClose()">Close</button>
    </footer>
  </div>
</ng-container>
