@use '/src/styles/utils/mixins' as *;
@use '/src/styles/utils/variables' as *;

.brand {
  font-weight: 700;
  color: white;
}

.item {
  @include screen-md {
    height: 100%;
  }
}

.link {
  @include screen-md {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 $gap;
    color: white;
    transition: background $transition-duration;

    &:hover {
      background: $color-brand-dark;
    }
  }
}

.nav {
  display: none;

  @include screen-md {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 5rem;
  }
}

.navbar {
  display: flex;
  align-items: center;
  height: $navbar-height;

  &-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    background: $color-brand;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

.right {
  padding-left: $gap-md;
  margin-left: auto;
}
