<div class="navbar-container">
  <nav class="container navbar">
    <span class="brand">Speed Typing</span>
    <ul class="nav">
      <li *ngFor="let item of menuItems" class="item">
        <a [routerLink]="item.link" class="link">{{ item.label }}</a>
      </li>
    </ul>
    <div class="right">
      <app-mobile-menu-btn [isMenuVisible]="isMobileMenuVisible" (toggle)="onMobileMenuToggle()"></app-mobile-menu-btn>
    </div>
  </nav>
</div>
<app-mobile-menu
  [isVisible]="isMobileMenuVisible"
  [menuItems]="menuItems"
  (close)="onMobileMenuClose()"
></app-mobile-menu>
