@use '/src/styles/utils/mixins' as *;
@use '/src/styles/utils/variables' as *;

.item {
  margin-bottom: 2px;
}

.link {
  display: block;
  padding: $gap;
  color: $color-text;
  border-bottom: 1px solid $color-border;
}

.menu {
  position: fixed;
  top: $navbar-height;
  bottom: 0;
  left: -350px;
  z-index: 19;
  width: 320px;
  max-width: 90%;
  overflow: auto;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: left $transition-duration;

  &.m--visible {
    left: 0;
  }

  &-container {
    @include screen-md {
      display: none;
    }
  }
}
