<div class="menu-container">
  <app-backdrop *ngIf="isVisible" [isUnderNavbar]="true" (click)="onClose()"></app-backdrop>
  <div class="menu" [class.m--visible]="isVisible">
    <ul>
      <li *ngFor="let item of menuItems" class="item">
        <a class="link" [routerLink]="item.link" (click)="onClose()">
          {{ item.label }}
        </a>
      </li>
    </ul>
  </div>
</div>
