@use '/src/styles//utils/mixins' as *;
@use '/src/styles//utils/variables' as *;

.controls {
  padding: 0 $gap;
  margin: $gap;

  @include screen-md {
    align-self: center;
  }
}

.icon {
  font-size: 20px;

  @include screen-md {
    font-size: 30px;
  }
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: $gap;
  margin: -$gap;
  margin-bottom: $gap-md;
  text-align: center;
  border-bottom: 1px solid $color-border;
}

.item {
  flex: 1;
  max-width: 150px;
  margin: $gap;
}

.label {
  font-size: 14px;
  line-height: 1;
  color: $color-text-light;

  &.m--penalty {
    color: $color-danger;
  }
}

.value {
  font-size: 30px;

  @include screen-md {
    font-size: 40px;
  }
}
