<div class="info">
  <div class="item">
    <div class="icon">
      <i class="fa fa-tachometer"></i>
    </div>
    <div class="value">{{ score }}</div>
    <div class="label">characters per minute</div>
  </div>
  <div class="item">
    <div class="icon">
      <i class="fa fa-clock-o"></i>
    </div>
    <div class="value">{{ timeWithPenalty | date: "mm:ss" }}</div>
    <div *ngIf="penaltyInSeconds > 0" class="label m--penalty">
      (+ {{ penaltyInSeconds }} {{ penaltyInSeconds | i18nPlural: secondPlural }})
    </div>
  </div>
  <div class="controls">
    <button class="exercise-control" title="Start again" (click)="onRestart($event)">
      <i class="fa fa-repeat"></i>
    </button>
    <ng-content select="[exercise-core-actions]"></ng-content>
  </div>
</div>
