@use '/src/styles/utils/variables' as *;

$size: 60px;
$thickness: 10px;
$padding: 5px;

.lds-ring {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 50;
  display: block;
  width: $size;
  height: $size;
  background: white;
  border-radius: 50%;
}

.lds-ring div {
  position: absolute;
  box-sizing: border-box;
  display: block;
  width: $size - $padding * 2;
  height: $size - $padding * 2;
  margin: $padding;
  border: $thickness solid transparent;
  border-color: $color-brand transparent transparent transparent;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
