<header class="page-header">
  <h1>Custom exercise</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus pariatur culpa exercitationem repudiandae
    repellat ipsa nobis eveniet modi architecto! Assumenda!
  </p>
</header>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <textarea id="text" class="form-control m--textarea" formControlName="text"></textarea>
    <div *ngIf="hasError('text')" class="form-error">
      <div *ngIf="textControl.errors?.maxlength as maxLength">
        Max length of this field is {{ maxLength.requiredLength }} (currently: {{ maxLength.actualLength }})
      </div>
      <div *ngIf="textControl.errors?.minlength as minLength">
        Min length of this field is {{ minLength.requiredLength }} (currently: {{ minLength.actualLength }})
      </div>
      <div *ngIf="textControl.errors?.required">This field is required</div>
    </div>
  </div>
  <div class="form-group text-right">
    <button class="btn m--primary m--md" type="submit">Save</button>
  </div>
</form>
