// Animations
$transition-duration: 0.2s;

// Borders
$border-radius-sm: 5px;
$border-radius: 10px;
$border-radius-md: 20px;

// Breakpoints
$breakpoint-md: 992px;

// Colors
$color-border: #ddd;
$color-brand: #25a;
$color-brand-dark: darken($color-brand, 10%);
$color-danger: #d00;
$color-danger-light: #fdd;
$color-text: #444;
$color-text-light: #888;

// Gaps
$gap-sm: 5px;
$gap: 15px;
$gap-md: 30px;
$gap-lg: 50px;

// Layout
$navbar-height: 50px;
