@use '/src/styles/utils/mixins' as *;
@use '/src/styles/utils/variables' as *;

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-size: 50px;
  color: $color-brand;
  opacity: 0.5;
  transition: opacity $transition-duration;

  .link:hover & {
    opacity: 1;
  }
}

.info {
  font-size: 14px;
  color: $color-text-light;
}

.item {
  width: 370px;
  max-width: 90%;
  margin: $gap;
}

.link {
  display: block;
  padding: $gap;
  color: $color-text;
  text-align: center;
  border-radius: $border-radius;
  box-shadow: 0 3px 10px rgba($color-brand, 0.2);
  transition: $transition-duration;

  &:hover {
    transform: translateY(-5px);
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -$gap;
}

.title {
  margin-bottom: $gap-sm;
  font-size: 22px;
}
