<header class="page-header">
  <h1>Exercises</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi architecto amet doloribus voluptates? Vitae totam
    adipisci, iste hic ducimus nobis dignissimos ratione, cupiditate sequi iure animi voluptatum consequatur officia
    dolores officiis asperiores, sint dolorem exercitationem in eaque architecto? Earum, doloribus.
  </p>
</header>
<ul *ngIf="exercises.length > 0" class="list">
  <li *ngFor="let exercise of exercises" class="item">
    <a class="link" [routerLink]="['/exercise', exercise.id]">
      <div class="title">{{ exercise.title }}</div>
      <div class="info">Text length: {{ exercise.text.length }}</div>
      <div class="icon">
        <i class="fa fa-play"></i>
      </div>
    </a>
  </li>
</ul>
