@use '/src/styles/utils/variables' as *;

.alert {
  position: fixed;
  bottom: -5px;
  left: 50%;
  width: 500px;
  max-width: 90%;
  min-height: 30px;
  padding: 5px 30px 5px 10px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  text-align: center;
  border-radius: $border-radius-md;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: $transition-duration;
  transform: translate(-50%, 100%);

  &.m--danger {
    background: $color-danger;
  }

  &.m--info {
    background: $color-brand;
  }

  &.m--visible {
    bottom: $gap;
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.close {
  position: absolute;
  top: 4px;
  right: $gap;
  color: inherit;
  opacity: 0.5;
}
