<div *ngIf="isRendered" [class]="'alert m--' + type" [class.m--visible]="isVisible">
  {{ message }}
  <button class="close" type="button" (click)="onClose()"><i class="fa fa-times"></i></button>
</div>
