<app-info [penaltyInSeconds]="penaltyInSeconds" [score]="score" [timeWithPenalty]="timeWithPenalty">
  <ng-container exercise-core-actions>
    <ng-content select="[exercise-core-actions]"></ng-content>
  </ng-container>
</app-info>
<div class="text">
  <span
    *ngFor="let char of chars; let i = index"
    class="char"
    [class.m--correct]="char.isCorrect"
    [class.m--current]="char.isCurrent"
    [class.m--incorrect]="char.isIncorrect"
    >{{ char.value }}</span
  >
</div>

<app-modal>
  <div modal-body class="score-modal">
    <div class="score-modal-title">Your typing speed:</div>
    <div class="score-modal-value">{{ score }}</div>
    <div>characters per minute</div>
  </div>
  <ng-container modal-actions>
    <button class="btn m--default" type="button" (click)="onRestartFromModal()">Try again</button>
  </ng-container>
</app-modal>
