@use '/src/styles/utils/mixins' as *;
@use '/src/styles/utils/variables' as *;

.char {
  border-bottom: 2px solid transparent;

  &.m--correct {
    color: #ccc;
  }

  &.m--current {
    border-color: black;
  }

  &.m--incorrect {
    color: $color-danger;
    background: $color-danger-light;
    border-color: $color-danger;
  }
}

.text {
  margin-right: 20px;
  overflow: hidden;
  font-family: 'PT Mono', monospace;
  line-height: 1.5;
  letter-spacing: 2px;
  white-space: pre-wrap;

  @include screen-md {
    font-size: 30px;
  }
}

// Score modal

.score-modal {
  text-align: center;

  &-title {
    margin-bottom: $gap;
    font-size: 30px;
    color: $color-text-light;
  }

  &-value {
    font-size: 70px;
    font-weight: 700;
  }
}
