<app-form *ngIf="isEditMode" [defaultText]="text" (formChange)="onFormChange($event)"></app-form>
<app-exercise-core *ngIf="!isEditMode" [text]="text">
  <ng-container exercise-core-actions>
    <button class="exercise-control" type="button" title="Edit text" (click)="onEdit()">
      <i class="fa fa-edit"></i>
    </button>
  </ng-container>
</app-exercise-core>
