@use '/src/styles/utils/variables' as *;

a {
  text-decoration: none;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  color: $color-text;
}

button {
  color: $color-text;
  cursor: pointer;
  background: transparent;
  border: 0;
}

h1 {
  margin-bottom: $gap;
  font-size: 30px;
}

p {
  margin-bottom: $gap;
}

ul {
  list-style: none;
}
